.menu {
    background-color:bisque;
    text-align: center;
    padding-top: 20px;
}

.menu a {
    background-color: rgb(40, 40, 40);
    font-size: 40px;
    font-family: Arial;
    color:bisque;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 50px;
    text-align: center;
    border: 10px solid rgb(40, 40, 40);
    border-radius: 10px;
    box-shadow: 0 30px 30px rgba(0,0,0,0.24), 0 20px 20px rgba(0,0,0,0.12);
    text-decoration: none;
}
.menu p {
    background-color: bisque;
    font-size: 35px;
    font-family: arial;
    color: rgb(40, 40, 40);
    margin-right: 300px;
    margin-left: 300px;
    text-align: center;

}

.menu h1{
    background-color: rgb(40, 40, 40);
    font-size: 50px;
    font-family: arial;
    color: bisque;
    margin-top: 0px;
    border: 50px;
    border-color: rgb(40, 40, 40);
    border-radius: 45px;
    padding:100px;
    margin-top: 50px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 60px;
    box-shadow: 0 30px 30px rgba(0,0,0,0.24), 0 20px 20px rgba(0,0,0,0.12);
}
.menu h2 {
    background-color: bisque;
    font-size: 40px;
    font-family: arial;
    color: rgb(40, 40, 40);
    margin-right: 0px;

}